<a href="https://colab.research.google.com/github/psy03/Midterm24/blob/main/2023013210.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Midterm 2024: Park Soyeon
```
# 코드로 형식 지정됨
```

In [1]:
print('5'+'7')

57

In [7]:
print('5'*3+'7')

5557

In [8]:
num=5+3.2
print(num)

8.2

##Variable Question

In [79]:
def Name=mary,Bornin=1998,Hometown=Ohio

print("Hello, my name is","Name")

SyntaxError: invalid syntax (<ipython-input-79-dc15f3a376d6>, line 1)

##Name question

In [45]:
#name question
x="My name is"
y="Soyeon"
print(x,y,'.')

My name is Soyeon .

##Index Question

##GTTS Question

##Dictionary Question

In [51]:
grades_dict{'Bob':'80', 'Jack' : '1', 'Joe' : '1'}
print(Bob)

SyntaxError: invalid syntax (<ipython-input-51-4375401ce101>, line 1)

##Function Question

In [61]:
def division(x, y):
  return x / y

result = division(20,4)
print(result )

5.0