<a href="https://colab.research.google.com/github/psy03/Midterm24/blob/main/soyeon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print ("hello, tom!")

hello, tom!

In [3]:
x= 5
y= "Hello, world!"
print(x,y)
print(x)
print(y)

5 Hello, world!
5
Hello, world!

In [4]:
a=5
b=40
c=a*b
print(c)

200

In [5]:
# Cell 1: Creating Variables
name = "John Doe"
age = 30
height = 5.9
is_student = False

In [6]:
# Cell 2: Working with Variables
print(f"Name: {name}")
print(f"Age: {age}")
print(f"Height: {height} feet")
print(f"Is a student: {is_student}")

Name: John Doe
Age: 30
Height: 5.9 feet
Is a student: False

In [12]:
# Cell 3: Changing Variable Value
age = 31
print(f"Updated Age: {age}")

Updated Age: 31

In [13]:
def function_name(parameters):
    # code to execute
    return result  # optional #it's syntax

In [11]:
def greet(name):
    return f"Hello, {name}!"

message = greet("Alice")
print(message) #It's Example of a Function

Hello, Alice!

In [14]:
def greet(name):
    return f"Hello, {name}!"

message = greet("Soyeon")
print(message)

Hello, Soyeon!

In [15]:
greet("Bob")

'Hello, Bob!'

In [16]:
def add_numbers(number1, number2):
    sum = number1 + number2
    return sum

# Using the function
result = add_numbers(10, 15)
print("The sum is:", result)

The sum is: 25

In [18]:
# Generate a random number between 1 and 10
import random

random_number = random.randint(1, 10)

print("The random number is:", random_number)

The random number is: 8

In [19]:
# Code 1

random_number = random.randint(1, 10)

random_number
#Code 1: random_number 변수에 할당된 난수를 출력하지 않고 있습니다.
#따라서 변수에 저장된 값은 출력되지 않습니다.

5

In [20]:
# Code 2

random_number = random.randint(1, 10)

random_number
print(random_number)
#Code 2: random_number 변수에 할당된 난수를 출력하지 않고 있습니다.
#대신 print(random_number)를 사용하여 값을 출력하고 있습니다.

7

In [22]:
# Code 3

random_number = random.randint(1, 10)

print(random_number)
random_number
#Code 3: random_number 변수에 할당된 난수를 print(random_number)로 출력하고 있습니다.
#그 후에도 변수 이름만을 통해 변수에 저장된 값을 출력하려고 시도하고 있지만,
#대화식 환경에서는 변수 이름만으로는 값을 볼 수 없습니다.

9

9

In [23]:
# Code 4

random_number = random.randint(1, 10)

print("random_number:", random_number)
#Code 4: random_number 변수에 할당된 난수를 "random_number:"와 함께 출력하고 있습니다.

random_number: 2

In [24]:
# Code 5

random_number = random.randint(1, 10)

print("The random number is: ", random_number)
#Code 5: random_number 변수에 할당된 난수를 "The random number is:"와 함께 출력하고 있습니다.

The random number is:  8

1. Number
- Integers (int): Whole numbers like 3, 100, -1.
- Floating-point numbers (float): Numbers with a decimal point like 2.3, -0.1, 3.14.
- Complex numbers (complex): Numbers with a real and imaginary part, e.g., 3 + 4j.

In [25]:
#Integer #Integers (int): Whole numbers like 3, 100, -1.
# An example of an integer
age = 25
print("Age:", age)

Age: 25

In [26]:
#Float #Floating-point numbers (float): Numbers with a decimal point like 2.3, -0.1, 3.14.
# An example of a float
average_score = 82.5
print("Average Score:", average_score)

Average Score: 82.5

2. string
- Textual data enclosed in single ('text'), double ("text"), or triple quotes ('''text is ...''' or """text is ..."""). For example, "Hello", 'Python'.

In [27]:
# An example of a string
name = input()  # A pop-up box will appear and wait for your input. Type a name.
print("Hello, %s!"%name)  # % operator: The % operator is used for string formatting. It links the string "Hello, %s!" with the variable name to replace the %s placeholder.

soyeon
Hello, soyeon!

In [30]:
# An example of a string
name = input()  # A pop-up box will appear and wait for your input. Type a name.
print(f"Hello, {name}!")

soyeon
Hello, soyeon!

In [31]:
mytext = """
Long long time ago, there lived a lion called Lezzi.
One day, ....
"""
print(mytext)

Long long time ago, there lived a lion called Lezzi.
One day, ....

3.List (list):
- An ordered, mutable (changeable) collection of items. Lists are defined with square brackets, e.g., [1, 2, 3] or ['apple', 'banana', 'cherry'].

In [32]:
# An example of a list
favorite_books = ["To Kill a Mockingbird", "1984", "The Great Gatsby"]
print("Favorite Books:", favorite_books)

Favorite Books: ['To Kill a Mockingbird', '1984', 'The Great Gatsby']

4. Dictionary (dict):
- A collection of key-value pairs. Dictionaries are defined with curly braces containing key-value pairs separated by colons, e.g., {'name': 'Alice', 'age': 25}.

In [33]:
# An example of a dictionary
student_grades = {"Alice": 90, "Bob": 85, "Charlie": 95}
print("Student Grades:", student_grades)

Student Grades: {'Alice': 90, 'Bob': 85, 'Charlie': 95}

In [34]:
# Return Alice's grade
student_grades['Alice']

90

5. Tuple (tuple):
- An ordered, immutable collection of items. Tuples are defined with parentheses, e.g., (1, 2, 3) or ('a', 'b', 'c')

In [35]:
# An example of a tuple
months_of_the_year = ("January", "February", "March", "April")
print("Months of the Year:", months_of_the_year)

Months of the Year: ('January', 'February', 'March', 'April')

6. Boolean (bool):
- Represents truth values. The two boolean values are True and False.

7. Set (set):
- An unordered collection of unique items. Sets are defined with curly braces, e.g., {1, 2, 3} or {'apple', 'banana', 'cherry'}. Note that sets do not allow duplicate elements.

8. NoneType (None):
- A special type representing the absence of a value or a null value.

Each data type serves a specific purpose and can be used in different scenarios in Python programming. For instance, lists and tuples are great for storing ordered collections of items, dictionaries are ideal for storing related data as key-value pairs, and sets are useful for storing unique items and performing set operations.